<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ListSearch</title>
<link rel="stylesheet" href="Inventory.css" type="text/css">
<body>
	<h1>リスト検索</h1>	
	<form action="?" method="post" th:object="${param}">
  		<table border="1">
			  <label for="select">日付を選ぶ</label>
			  <input type="date" name="TradingDate" id="TradingDate" required>
			  <input type="submit" value="検索" formaction="/listselect"  >
			</form>
    		<tr>
	    		<th>日付</th>
    		</tr>
    		<tr th:each="Inventory : ${Inventory}" >
      			<form action="?" method="post" th:object="${param}">
      				<td><input type="text" class="label" name="ID" th:value="${Inventory.TradingDate}"></td>
        			<td><input type="submit" value="決定" formaction="/decision" id="TradingDate"></td>
      			</form>
    		</tr>
  		</table><br/>
	</form>
  	
  	<p></p>
    <div th:replace="master::footer"></div>
</body>
</html>